<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Punto 1</string>
		<key>latitude</key>
		<real>19.504786</real>
		<key>longitude</key>
		<real>-99.147249</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Punto 2</string>
		<key>latitude</key>
		<real>19.504273</real>
		<key>longitude</key>
		<real>-99.147504</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Punto 3</string>
		<key>latitude</key>
		<real>19.504215</real>
		<key>longitude</key>
		<real>-99.147384</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Punto 4</string>
		<key>latitude</key>
		<real>19.504635</real>
		<key>longitude</key>
		<real>-99.147172</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Punto 5</string>
		<key>latitude</key>
		<real>19.504606</real>
		<key>longitude</key>
		<real>-99.147105</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Punto 6</string>
		<key>latitude</key>
		<real>19.504698</real>
		<key>longitude</key>
		<real>-99.147059</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Punto 7</string>
		<key>latitude</key>
		<real>19.504786</real>
		<key>longitude</key>
		<real>-99.147249</real>
	</dict>
</array>
</plist>
